<ion-view view-title="Buchstabenwortwert">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        <label class="item item-input item-stacked-label">
          <span class="input-label"><b>Eingabe:</b></span>
          <input placeholder="Geocaching" ng-change="calc()" type="text" ng-model="input.string">
        </label>
      </div>

      <div class="item item-text-wrap">
        <b>Einzelne Buchstabenwerte:</b> {{output.all}}
      </div>

      <div class="item item-text-wrap">
        <b>Buchstabensumme:</b> {{output.sum}}
      </div>

      <div class="item item-text-wrap">
        <b>Buchstabenprodukt:</b> {{output.pro}}
      </div>

      <div class="item item-text-wrap">
        <b>Gültige Zeichen:</b> {{output.charsValid}} <i>(ohne leerzeichen)</i>
      </div>

      <div class="item item-text-wrap">
        <b>Zeichen:</b> {{output.chars}}
      </div>

    </div>

  </ion-content>
</ion-view>
