<ion-view view-title="Koordinaten Konverter">
  <ion-content>



    <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">

    <input type="number" maxlength="2" max="99" min="0" step="1" placeholder="49">
  </label>
  <label class="item-input-wrapper">
    <input type="number" maxlength="2" max="99" min="0" step="1" placeholder="34">
  </label>
</div>


    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="number" maxlength="2" max="99" min="0" step="1" placeholder="49">
      </label>
    </div>
    <div class="row">
      <div class="col">
        <input type="number" maxlength="2" max="99" min="0" step="1" placeholder="49">
      </div>
      <div class="col">
        .<input type="number" maxlength="2" max="99" min="0" step="1" placeholder="49">
      </div>
    </div>


    <hr> {{dezimalgrad}}
    <br> {{gradBogenminuten}}
  </ion-content>
</ion-view>
